<h2><%= @ocean.name %></h2>
<h2>Area : <%= @ocean.area %></h2>
<h2>Average depth : <%= @ocean.average_depth %></h2>
<h2>Deepest depth : <%= @ocean.deepest_depth %></h2>

<%= image_tag @ocean.image %>

<%= link_to('Edit ocean', ocean_edit_path(@ocean.id)) %>

<%= button_to('Delete ocean', ocean_delete_path(@ocean.id)) %>
