<h2><%= @planet.name %></h2>
<h2>Mass : <%= @planet.mass %></h2>
<h2>Orbit : <%= @planet.orbit %></h2>
<h2>Mass : <%= @planet.mass %></h2>
<h2>Diameter : <%= @planet.diameter %></h2>
<h2>Distance : <%= @planet.distance %></h2>
<h2>Moons : <%= @planet.moons %></h2>

<%= image_tag @planet.image %>

<%= link_to('Edit planet', planet_edit_path(@planet.id)) %>

<%= button_to('Delete planet', planet_delete_path(@planet.id)) %>
